<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <div>
      <%- include('../partials/header'); %>
      <h2>Carrito de compras</h2>
      <% if(productosCargadosAlCarrito.length > 0){ %>
      <div class="table-responsive">
        <table class="table table-dark">
          <tr class="warning">
            <th>Nombre</th>
            <th>Precio</th>
            <th>Imagen</th>
          </tr>
          <% for (const producto of productosCargadosAlCarrito) { %>
          <tr>
            <td><%=producto.nombre %></td>
            <td><%=producto.precio %></td>
            <td>
              <img style="max-width: 50px" src="<%=producto.foto %>" alt="" />
            </td>
          </tr>
          <% }; %>
        </table>
      </div>
      <div class="d-flex justify-content-center">
        <a href="/" class="btn btn-success m-2">Seguir comprando</a>
        <form action="/carrito" method="post">
          <button id="myBtn" type="submit" class="btn btn-primary m-2">
            Finalizar compra
          </button>
        </form>
      </div>
      <% } else { %>
      <div>
        <h3 class="alert alert-danger text-center">No hay productos</h3>
        <a href="/" class="btn btn-success m-2">Seguir comprando</a>
      </div>
      <% } %>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
